@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Noto Sans", serif;
  color: rgb(94, 94, 94);
  font-weight: 400;
}


a {
  color: rgb(45, 189, 229);
  
}